.filmList {
    width: 90%;
    margin: 6vh auto 0 auto;
}
.more {
    width: 90%;
    margin: 1.2em auto;
    color: #5db9e5;
    font-size: 36px;
    text-align: center;
    border-bottom: #5db9e5 2px solid;
}
.searchErrorMassage {
    color: #5db9e5;
    margin: 8em auto;
    font-size: 34px;
    text-align: center;
}
.spinner {
    display: block;
    margin: 12vh auto 0 auto;
}
