.card {
    height: 150px;
    display: flex;
    padding-right: 2em;
    margin-bottom: 0.5em;
    color: #5db9e5;
    font-size: 18px;
    text-align: left;
    img {
        height: 100%;
        border-radius: 5px 0 0 5px;
        margin-right: 0.5em;
    }
    &__info {
        display: flex;
        flex-direction: column;
        div {
            margin-bottom: 1em;
        }
    }
}
