.filmList {
    width: 90%;
    margin: 12vh auto 0 auto;
}
.searchErrorMassage {
    color: #5db9e5;
    margin: 8em auto;
    font-size: 34px;
    text-align: center;
}
.spinner {
    display: block;
    margin: 12vh auto 0 auto;
}
