header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 1% 5% 1%;
    background: linear-gradient(rgb(34, 34, 34), rgba(37, 37, 37, 0.795));
    display: flex;
    justify-content: space-between;
    color: #efece9;
    a {
        color: white;
        text-decoration: none;
    }
    h1 {
        font-size: 38px;
        font-weight: 200;
        cursor: pointer;
    }
    .search {
        width: 25%;
        display: flex;
        justify-content: space-between;
        border: 1px #efece9 solid;
        height: 40px;
        input {
            width: 90%;
            border: none;
            background: none;
            color: inherit;
            padding: 3%;
            font-size: 18px;
            &:focus {
                outline: none;
            }
        }
        img {
            height: 40px;
            cursor: pointer;
        }
        button {
            background: none;
            border: none;
        }
    }
}
