header {
    width: 100%;
    height: 80vh;
    min-height: 400px;
    margin: 0 auto;
    color: #efece9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
}
